node_modules/
dist/
.pnpm-store/
.env
/.local/
coverage/
.DS_Store
.npmrc
.npmrc.publish.local
tmp
apps/docs/.vitepress/dist/
apps/docs/.vitepress/cache/
apps/docs/--host/
packages/nextclaw/*.tgz
**/.wrangler/
/packages/nextclaw/resources/native/

apps/docs/.vitepress/.temp/
apps/ncp-demo/backend/.ncp-demo-store/
apps/desktop/.local/
**/__pycache__/
*.pyc
*.pyo
/website
/packages/nextclaw-service/build/
/packages/nextclaw/ui-dist/
